
/*************    TABS    **************/

.faq-tabs {
	list-style-type:none;
	position:relative;
	margin-bottom: 40px;
}

.faq-tabs label {
	display:flex;
	padding:5px 20px;
    border-radius:5px;
    background: #DDD;
	margin-top:5px;
    cursor:pointer;
}

[type="radio"]:checked + label {
	border-radius:5px 5px 0 0;
}

.faq-tabs label:hover {
    color:#FFF;
}
.faq-tabs [type="radio"]:checked + label {
    font-weight: bold;
}

.faq-tabs article,
.faq-page .faq-tabs [type="radio"] {
	display:none;
	padding:10px 20px;
}

.faq-tabs label span {
    vertical-align: baseline;
    margin-left: -10px;
    margin-right: 10px;
}

.faq-tabs article {
	border-radius:0 0 5px 5px;
    margin-bottom:10px;
    background: white;
    /* transform: rotate(0deg); */
}

.faq-tabs [type="radio"]:checked+label span {
    transform: rotate(90deg);
}

.faq-tabs [type="radio"]:checked ~ article {
	display:block;
}


.faq-tabs section {
    padding: 0;
}
    
.faq-tabs input {
    display: none;
}