.sedoo_liste_article_container {    
    display: flex;
}

.sedoo_liste_article_container article {
    background-color: white;
}

.content-list.sedoo_blocks_listearticle .entry-header p{
    display: inline;
    position: initial;
    background-color: transparent;
    color:#333;
    font-weight: 700;
}
.content-list.sedoo_blocks_listearticle .entry-header p:before{
    content:"#";
}

.sedoo_blocks_listearticle article:hover .entry-content h3 {
    color:var(--theme-color);
}