div.sedoo_related_block_admin_block {
    text-align: center;
    background: #c8c8c8;
    color:#535050;
    padding: 15px;
    padding-top: 1px;
}

.sedoo_load_more {
    margin-top: 1em;
}

.sedoo_related_block_loader {
    background: #e4e4e4;
    padding: 5em;
    font-size: 1em;
    margin-top: 1em;
    width: 100%;
    display: block;
    color: #595959;
}

.sedoo_related_block_loader p {
    text-align: center;
}