div.sedoo_related_block_admin_block {
    text-align: center;
    background: #c8c8c8;
    color:#535050;
    padding: 15px;
    padding-top: 1px;
}

.sedoo_load_more {
    padding: 15px;
    display: block;
    margin: 1em auto 0em auto;
    margin-left: auto;
    margin-left: auto;
    text-decoration: none;
    font-size: initial;
    background: #dbdbdb;
    width: 30%;
    text-align: center;
}