.listpages_list {
    width: 100%;
    margin-bottom: 10px;
}

.listpages_list .entry-header,
.listpages_list .entry-header h2 {
    margin-bottom:0;
}
.listpages_list .entry-content p {
    margin-top:0;
}