.listpages_list {
    width: 100%;
    margin-bottom: 10px;
}

.listpages_list .entry-header,
.listpages_list .entry-header h2 {
    margin-bottom:0;
}
.listpages_list .entry-content p {
    margin-top:0;
}

section.post-wrapper.sedoo_blocks_listepages {
    display: flex;
    justify-content: flex-start;
}
section.post-wrapper.sedoo_blocks_listepages article {
    flex:0 1 350px;
}